*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: bold;
/*  line-height: 1.6;*/
}

h1 {
  font-size: 23pt;
  margin-bottom: 15px;
}

h2{
  margin-bottom: 15px;
  margin-top: 30px;
}

h3 {
  font-size: 12pt;
  font-weight: normal;
  display: block;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  color: #595959;
  line-height: 1.2;
}

#app-container {
  border: 1px solid #ccc;
  height: 748px;
  margin-top: -374px;
  margin-left: -512px;
  position: absolute; top: 50%; left: 50%;
  width: 1024px;
  background-image:url(assets/background.png);
  background-repeat:repeat-x;
  overflow: hidden;
}
#page2{
  width: 1024px;
  height: 768px;
  position: absolute; top: 50%; left: 50%;
  border: 1px solid red;
  margin-top: -374px;
  margin-left: -512px;
  -webkit-transition: all 1.5s ease;
  -webkit-transform: translate3d(0%, 0, 0);

}
.page2animation{
-webkit-transition: all 1.5s ease;
  -webkit-transform: translate3d(0%, 0, 0);
}

.fadein{
    -webkit-transition: all 1.5s ease;
  -webkit-transform: translate3d(0%, 0, 0);
    z-index:-2;

}



.fadein.active{
   z-index: 3;
    -webkit-transition-delay: 2s;
     -webkit-transition: all 1.5s ease;
   -webkit-transform: translate3d(0%, 0, 0%);
    
}


#header {
  position: absolute;
  display: block;
  background: #F8F8F8;
  z-index: 6000;
  width:100%;
  height: 10%;
  box-shadow: 0px 3px 5px 2px #566373;
}

.logo {
  background-image:url(assets/logo.png);
  height: 21px;
  width: 200px;
  display: block;
  position: absolute;
  top: 25px;
  left: 22px;
}

#timedisplay {
  color: #566373;
  font-size: 18pt;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 23px;
}


#leftmain {
  margin-top: 10%;
  float: left;
  width: 55%;
  height: 90%;

}

#rightmain {

  overflow-y: scroll;
  margin-left: 60%;
  width: 40%;
  height: 100%;
}

.rightanimation{
   -webkit-transition: all 1.5s ease;

}

.rightanimation.hide{

   -webkit-transform: translate3d(105%, 0, 0);

}

.leftanimation{
   -webkit-transition: all 1.5s ease;

}

.leftanimation.hide{

  -webkit-transform: translate3d(-105%, 0, 0);

}

.leftsub {
  position: relative;
  background: #fff;
  border-radius: 4px;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  box-shadow: 3px 3px 5px 2px #566373;
}

.bgsearch {
  background: #F1F1F1;
  padding-left: 22px;
  padding-bottom: 15px;
  border-radius: 4px;
  padding-right: 22px;
  overflow: hidden;
}

.input-group {
  clear: both;
  margin-top: 22px;
  margin-right: 20px;
  overflow: hidden;
  width: 100%;
}

.label {
  color: #000;
  display: block;
  float: left;
  width: 15%;
  margin-top: 8px;
  text-align: right;
  padding-right: 8px;
}

.inputverbindung {
  float: left;
  padding: 5px; 
  padding-left: 10px;
  box-shadow: inset 0 0 1px #707070;
  width: 85%;
  border: 1px solid #9e9e9e;
  font-size: 16pt;
  color: #000;
}

#to {
  color: #9E9E9E;
}

#btnsuchen {
  float: right;
  background: #EE0000;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  border-radius: 4px;
  border: none;
  font-size: 16pt;
  margin-top: 25px;
}

#btnsuchen:active {
  background: #B20000;
}

#btnsuchen:hover {
  background: #B20000;
}

.btnmain {
  background: #E4E4E4;
  border-radius: 5px;
  color: #566373;
  border: none;
  padding: 12px;
  font-size: 16pt;
  font-weight: bold;
  width: 49%;
  margin-bottom: 5px;
} 

.btnmain:hover {
  background: #DDDDDD;
}

#buttonSprache {
  width: 20%;
  position: relative;
  display: block;
  margin-left: 78%;
  margin-top: 13px;

}

#rightmain {
  overflow-y: scroll;
  margin-left: 60%;
  width: 45%;
  height: 100%;
}

#ulmain li {
  box-shadow: 3px 3px 5px 2px #707070;
  background: #566373;
  color: #fff;
  display: block;
  padding: 20px;
 /* padding-bottom: 35px;*/
  padding-top: 25px;
  margin-top: 10px;

   -webkit-transition: all .4s;

}

#ulmain li:hover {
  background: #6B7786;
}

#ulmain a {
  color: #fff;
  display: block;
  padding: 20px;
  margin-top: 10px;
  text-decoration: none;
}

#ulmain li:first-child {
  margin-top: 20%;
}

.destination {
  margin-left: 100px;
  margin-top: -58px;
  font-size: 20pt;
  display: block;

}

.zug {
  margin-left: 100px;
  margin-top: 15px;
  font-size: 12pt;
  width: 100px;
  display: inline-block;

}

.time {
  margin-left: 100px;
  font-size: 12pt;
  display: inline;

}

strong{
  font-size: 12pt;
  color: #F78080;
  margin-left: 5px;
}

.gleis {
  border: 3px solid #fff;
  border-radius: 10px;
  display: block;
  text-align: right;
  padding-right: 3px;
  padding-top: 10px; 
  font-size: 24pt;
  height: 50px;
  width: 50px;
}



/*   Detailscreen Styles   */

#footer {
  background: #F8F8F8;
  width:100%;
  height: 90px;
  box-shadow: 0px -1px 5px 2px #566373;
  z-index: 70000;
  position: absolute;
  bottom: 0px;

}

#btnabbrechen {
  width: 20%;
  position: relative;
  display: block;
  margin-left: 78%;
  margin-top: 11px;
  background:#566373;
  color: #fff;
}

#leftdetail {
  background: #fff;
  box-shadow: 1px 0px 5px 2px #566373;
  float: left;
  width: 55%;
  height: 100%;
  position: absolute;

}


.leftdetailanimation4{
  -webkit-transition: all 1.5s ease;
  -webkit-transform: translate3d(-105%, 0, 0);
  -webkit-transition-delay: 0.8s;

}

.leftdetailanimation4.active{
  -webkit-transform: translate3d(0%, 0, 0);
}

.leftdetailanimation3{
  -webkit-transition: all 1.5s ease;
  -webkit-transform: translate3d(-105%, 0, 0);
  -webkit-transition-delay: 0.8s;

}

.leftdetailanimation3.active{
  -webkit-transform: translate3d(0%, 0, 0);
}


.leftdetailanimation2{
  -webkit-transition: all 1.5s ease;
  -webkit-transform: translate3d(-105%, 0, 0);
  -webkit-transition-delay: 0.8s;

}

.leftdetailanimation2.active{
  -webkit-transform: translate3d(0%, 0, 0);
}

.leftdetailanimation{
  -webkit-transition: all 1.5s ease;
  -webkit-transform: translate3d(-105%, 0, 0);
  -webkit-transition-delay: 0.8s;

}

.leftdetailanimation.active{
  -webkit-transform: translate3d(0%, 0, 0);
}

.rightdetailanimation{
  -webkit-transition: all 1.5s ease;
  -webkit-transform: translate3d(105%, 0, 0);
  -webkit-transition-delay: 0.8s;

}

.rightdetailanimation.active{
  -webkit-transform: translate3d(0%, 0, 0);
}

.rightdetailanimation2{
  -webkit-transition: all 1.5s ease;
  -webkit-transform: translate3d(110%, 0, 0);
  -webkit-transition-delay: 0.8s;

}

.rightdetailanimation2.active{
  -webkit-transform: translate3d(10%, 0, 0);
}



.downdetailanimation{
  -webkit-transition: all 1.5s ease;
  -webkit-transform: translate3d(0%, 105%, 0);
  -webkit-transition-delay: 0.8s;

}

.downdetailanimation.active{
  -webkit-transform: translate3d(0%, 0, 0);
}



#rightdetail {
  margin-left: 55%;
  width: 45%;
  height: 90%;
}

#rightdetail2 {
  position:absolute;
  margin-left: 51%;
  width: 45%;
  height: 90%;
}

.tabs {

  -webkit-transition: all 0.5s ease;
}

.tabs.active{
    -webkit-transition: all 0.5s ease;
   -webkit-transform: translate3d(-15%, 0, 0);
   left: 100px;
}

.tabs2 {

  -webkit-transition: all 0.5s ease;
}

.tabs2.active{
    -webkit-transition: all 0.5s ease;
   -webkit-transform: translate3d(-15%, 0, 0);
   left: 100px;
}

.tabs3 {

  -webkit-transition: all 0.5s ease;
}

.tabs3.active{
    -webkit-transition: all 0.5s ease;
   -webkit-transform: translate3d(-15%, 0, 0);
   left: 100px;
}


.tabs4 {

  -webkit-transition: all 0.5s ease;
}

.tabs4.active{
    -webkit-transition: all 0.5s ease;
   -webkit-transform: translate3d(-15%, 0, 0);
   left: 100px;
}

.tabs5 {

  -webkit-transition: all 0.5s ease;
}

.tabs5.active{
    -webkit-transition: all 0.5s ease;
   -webkit-transform: translate3d(-15%, 0, 0);
   left: 100px;
}


#tab1{

  position: absolute; top:100px; left:5%;
  box-shadow: 3px 3px 5px 2px #707070;
  background: #566373;
  color: #fff;
  width: 90%;
  padding: 20px;
  height:90px;
}

#tab2{
  position: absolute; top:220px;left:5%;
  box-shadow: 3px 3px 5px 2px #707070;
  background: #566373;
  color: #fff;
  width: 90%;
  padding: 20px;
  height:90px;
}

#tab3{
 position: absolute; top:340px;left:5%;
  box-shadow: 3px 3px 5px 2px #707070;
  background: #566373;
  color: #fff;
  width: 90%;
  padding: 20px;
  height:90px;
}

#tab4{
  position: absolute; top:180px;left:5%;
  box-shadow: 3px 3px 5px 2px #707070;
  background: #566373;
  color: #fff;
  width: 90%;
  padding: 20px;
  height:90px;
}

#tab5{
 position: absolute; top:300px;left:5%;
  box-shadow: 3px 3px 5px 2px #707070;
  background: #566373;
  color: #fff;
  width: 90%;
  padding: 20px;
  height:90px;
}



#bezahlen {
  position: absolute; top: 460px; left:5%;
  box-shadow: 3px 3px 5px 2px #707070;
  background: #566373;
  color: #fff;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 30px;
  width: 90%;
  height: 150px;
  
}

#bezahlen2 {
  position: absolute; left:5%;
  box-shadow: 3px 3px 5px 2px #707070;
  background: #566373;
  color: #fff;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 30px;
  width: 90%;
  height: 150px;
  top: 440px;
}

.preis {
  font-size: 34pt;
  font-weight: normal;
  margin-left: 70px;
  width: 100%;
  display: block;
}

.hint {
  font-size: 12pt;
  font-weight: normal;  
  color: #cacaca;
  margin-top: 10px;
  margin-left: 70px;
  width: 100%;
  display: inline-block;
}

.vonnach{
  margin-left: 70px;
  margin-top: -54px;
  width: 100%;
  font-size: 18pt;
  display: block;
  float: left;
}

.via {
  margin-left: 70px;
  margin-top: -25px;
  font-size: 12pt;
  width: 100%;
  display: block;
  float: left;
}

.iconticket{
  background-image:url(assets/ticket.png);
  background-position: center;
  background-size: 90%;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

.icondatum{
  background-image:url(assets/datum.png);
  background-position: center;
  background-size: 90%;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 10px;
  height: 50px;
  width: 50px; 
}

.leftdetailsub {
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 50px;
}

.radiobuttons{
  margin-top: 10px;
}

.radioinput {
  display: none;

}

.btnradio {
  background: #E4E4E4;
  border-radius: 5px;
  color: #566373;
  border: none;
  padding: 13px;
  padding-left: 15px;
  font-size: 16pt;
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
  display: block;
} 

#expressprice {
  float: right;
}

#tourismoprice {
  float: right;
}

#sparprice {
  float: right;
}

.btnradiomini {
  width: 11%;
  float: left;
  margin-right: 15px;
  text-align: center;
  padding: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.btnradioswitchleft {
  width: 50%;
  float: left;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 20px;
}

.btnradioswitchright {
  width: 50%;
  float: left;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: 20px;
}

input.radioinput:checked + .btnradio
{
  background: #f10000;
  color: white;
}


.optionensub {
  position: absolute;
  top: 100px;
  left: 40px;
  right: 20px;
  width: 80%;
}

.heading{
  display: block;
  width: 100%;
  float: left;
  /*margin-top: 20px;*/
}

.anzbillette {
  display: block;
  height: 60px;
  width: 100%;
}

/*      Eingabescreens     */


.sprachauswahl
{
  position: absolute;
  z-index: -1;
  width:100%;
  height:100%;
  background: black;
  opacity: 0;
  -webkit-transition: all .4s;
}

.sprachauswahl.active{
  opacity: 0.9;
  z-index: 9000;
}

.bezahlenoverlay{
  position: absolute;
 
  z-index: -1;
  width:100%;
  height:100%;
  background: black;
  opacity: 0;
  -webkit-transition: all .4s;
}

.bezahlenoverlay.active{
  opacity: 0.9;
  z-index: 9000;

}

.payment{
    position: absolute;
 
  z-index: -1;
  width:100%;
  height:100%;
  background: black;
  opacity: 0;
  -webkit-transition: all .4s;
}

.payment.active{
  opacity: 0.9;
  z-index: 8000;

}

.tastatur{
  position: absolute;
 
  z-index: -1;
  width:100%;
  height:100%;
  background: black;
  opacity: 0;
  -webkit-transition: all .4s;
}


.tastatur.active{
  opacity: 0.9;
  z-index: 9000;

}

.tastaturbild {
  background-image:url(assets/tastatur.png);
  background-size: 90%;
  background-repeat:no-repeat;
  width: 100%;
  height: 40%;
  position: absolute;
  margin-top: 45%;
  display: block;
  margin-left: 5%;
}

.btninput {
  border: 3px solid #fff;
  border-radius: 10px;
  color: #fff;
  background: none;
  padding: 12px;
  font-size: 16pt;
  font-weight: bold;
  margin-right: 10px;
  width: 200px;
  display: block;
  float: left;
  text-align: center;
}

#zuruck2 {
  position: absolute;
  top: 85%;
  left: 70%;
}
#zuruck3 {
  position: absolute;
  top: 85%;
  left: 7%;
}

}
#zuruck4 {
  position: absolute;
  top: 85%;
  left: 7%;
}
#zuruck5 {
  position: absolute;
  top: 85%;
  left: 7%;
}



#zuruck {
  position: absolute;
  top: 85%;
  left: 70%;
}


input.radioinput:checked + .btninput
{
  background: #fff;
  color: black;
}

.quotes {display: none;}

.radiosprache {
  position: absolute;
  left: 7%;
  top: 250px;
}

.nachinput{
  font-size: 50pt;
  color: white;
  margin-top: 27%;
  margin-left: 7%;
  position: absolute;
}

.nach {
  font-size: 30pt;
  color: white;
  margin-top: 20%;
  position: absolute;
  margin-left: 7%;
  font-weight: bold;
}





/*        Kalender    */


.ui-datepicker-inline {
  width: 100%;
  height: 100%;
}

.ui-state-default {
  background: #E4E4E4;
  display: block;
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  color: #566373;
  text-decoration: none;
  font-size: 20px;
}

.ui-state-highlight {
  background: #ADADAD;
  color: white;
}

.ui-state-active {
  background: #f10000;
  color: white;
}

.ui-datepicker-prev{
  float: left;
  text-decoration: underline;
}

.ui-datepicker-next {
  float: right;
  text-decoration: underline;
}

.ui-datepicker-title {
  display: block;
  text-align: center;
  height: 50px;
}

.ui-datepicker-calendar tr {
  height: 30px;
}

