*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: bold;
  line-height: 1.6;
}

h1 {
  font-size: 23pt;
}

#app-container {
  border: 1px solid #ccc;
  height: 748px;
  margin-top: -374px;
  margin-left: -512px;
  position: absolute; top: 50%; left: 50%;
  width: 1024px;
  background-image:url(assets/background.png);
  background-repeat:repeat-x;
  overflow: hidden;
}

#header {
  position: absolute;
  display: block;
  background: #F1F1F1;
  width:100%;
  height: 10%;
  box-shadow: 0px 3px 5px 2px #3f3f3f;
  background-image:url(assets/logo.png);
  background-repeat:no-repeat;
  background-position: left center;
}

#timedisplay {
  color: #566373;
  font-size: 18pt;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#leftmain {
  margin-top: 10%;
  float: left;
  width: 55%;
  height: 90%;

}

#rightmain {

  overflow-y: scroll;
  margin-left: 60%;
  width: 40%;
  height: 100%;
}

.rightanimation{
   -webkit-transition: all 1.5s ease;

}

.rightanimation.hide{

   -webkit-transform: translate3d(100%, 0, 0);

}

.leftanimation{
   -webkit-transition: all 1.5s ease;

}

.leftanimation.hide{

   -webkit-transform: translate3d(-100%, 0, 0);

}

.leftsub {
  position: relative;
  background: #fff;
  border-radius: 4px;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  box-shadow: 3px 3px 5px 2px #3f3f3f;
}



.bgsearch {
  background: #F1F1F1;
  padding-left: 22px;
  padding-bottom: 15px;
  border-radius: 4px;
  padding-right: 22px;
  overflow: hidden;
}

.input-group {
  clear: both;
  margin-top: 22px;
  margin-right: 20px;
  overflow: hidden;
  width: 100%;
}

.label {
  color: #000;
  display: block;
  float: left;
  width: 15%;
}

.inputverbindung {
  float: left;
  padding: 5px; 
  box-shadow: inset 0 0 1px #707070;
  width: 85%;
  border: 1px solid #9e9e9e;
  font-size: 16pt;
}

#btnsuchen {
  float: right;
  background: #EE0000;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  border-radius: 4px;
  border: none;
  font-size: 16pt;
  margin-top: 25px;
}

.btnmain {
  background: #E4E4E4;
  border-radius: 5px;
  color: #566373;
  border: none;
  padding: 12px;
  font-size: 16pt;
  font-weight: bold;
  width: 49%;
  margin-bottom: 5px;


} 

#rightmain {

  overflow-y: scroll;
  margin-left: 60%;
  width: 45%;
  height: 100%;

}

#ulmain li {
  box-shadow: 3px 3px 5px 2px #707070;
  background: #566373;
  color: #fff;
  display: block;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 12px;
  margin-top: 10px;

   -webkit-transition: all .4s;

}

#ulmain a {
  color: #fff;
  display: block;
  padding: 20px;
  margin-top: 10px;
  text-decoration: none;

}


#ulmain li:first-child {
  margin-top: 350px;
}

.destination {
  margin-left: 100px;
  margin-top: -58px;
  font-size: 20pt;
  display: block;

}

.zug {
  margin-left: 100px;
  margin-top: -80px;
  font-size: 12pt;
  width: 100px;
  display: inline-block;

}

.time {
  margin-left: 100px;
  font-size: 12pt;
  display: inline;

}

strong{
  font-size: 12pt;
}

.gleis {
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  padding-left: 20px; 
  font-size: 24pt;
}


<<<<<<< HEAD
/*   Detailscreen Styles   */

#footer {
/*  position: absolute;*/
  display: block;
  background: #F1F1F1;
  width:100%;
  height: 10%;
  box-shadow: 0px -1px 5px 2px #566373;
  z-index: 3;
  position: absolute;

}

#leftdetail {
  background: #fff;
  box-shadow: 1px 0px 5px 2px #566373;
/*  margin-top: 10%;*/
  float: left;
  width: 55%;
  height: 100%;
  z-index: 2;
}

#rightdetail {
/*  margin-top: 10%;*/

  margin-left: 55%;
  width: 45%;
  height: 90%;
  z-index: 1;
}

.leftdetailsub {
  margin-top: 15%;
  margin-left: 20px;
  margin-right: 20px;
=======
.sprachauswahl{
  position: absolute;
 
  z-index: -1;
  width:100%;
  height:100%;
  background: black;
  opacity: 0;
  -webkit-transition: all .4s;
}

.sprachauswahl.active{
  opacity: 0.8;
  z-index: 5000;
}

.tastatur{
   position: absolute;
 
  z-index: -1;
  width:100%;
  height:100%;
  background: black;
  opacity: 0;
  -webkit-transition: all .4s;
}


.tastatur.active{
  opacity: 0.8;
  z-index: 5000;
>>>>>>> c066cf8212d961eca49e46143d1974ac1bc63b5f
}
