*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

#app-container {
  border: 1px solid #ccc;
  height: 748px;
  margin-top: -374px;
  margin-left: -512px;
  position: absolute; top: 50%; left: 50%;
  width: 1024px;
}

#header {
  position: static;
  display: block;
  background: #ff1;
  width:100%;
  height: 10%;

}

#leftmain {
  float: left;
  background: #11a;
  width: 60%;
  height: 90%;
}

.leftsub {
  background: #cc3;
  margin: 20px;
  padding: 10px;
}

.bgsearch {
  background: #88d;
  padding: 10px;
}

.label {
  color: #000;
  display: block;
  width: 50px;
  float: left;

}

.inputverbindung {
  display: block;
  float: left;
}

#btnsuchen {
  float: right;
  display: block;
  background: red;
  color: #fff;
  font-weight: bold;
}

#rightmain {

  background: #8ff;
  margin-left: 60%;
  width: 40%;
  height: 90%;
}


















